/* 
 * Custom CSS
 *
 */

#subs_list {
        width: 50%;
    }

#chart svg {
        height: 400px;
    }

.dt-button {
    border: 1px solid black;
    background-color: yellow;
}


.dt-button.button-unclicked {
    background-color: purple;
}