{% extends 'base.html' %}


{% block content %}
<section class="col-sm-12" id="demo">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Demo</h2><br />
                
            </div>
</div></div></section>

{% block form %}
<section id="form">
    <div class="col-lg-12 text-center">
        <form action="/demo" method="POST" name="SearchForm">
            {{ form.hidden_tag() }}
            {{ form.zoekterm.label }} {{form.zoekterm}} |
            {{form.overheid.label}} {{ form.overheid }} |
            {{form.ontvanger.label}} {{ form.ontvanger }} |
            {{form.regeling.label}} {{ form.regeling }} |
            {{ form.beleidsartikel.label}} {{ form.beleidsartikel}}
        </form>
        <hr>
    </div>
</section>
{% endblock %}

{% block table %}

<section class="col-sm-6" id="table">
<div class="col-lg-12 text-center">
<h3>Table</h3><hr></div>
    <table id="subs_list" class="display">
        <thead>
                <tr>
                    <th>Overheid</th>
                    <th>Regeling</th>
                    <th>Ontvanger</th>
                    <th>Beleid</th>
                    <th>Realisatie</th>
                    <th>Jaar</th>
                </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <th>{{d.overheid}}</th>
                <th>{{d.regeling}}</th>
                <th>{{d.ontvanger}}</th>
                <th>{{d.beleid}}</th>
                <th>{{d.realisatie}}</th>
                <th>{{d.jaar}}</th>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                    <th>Overheid</th>
                    <th>Regeling</th>
                    <th>Ontvanger</th>
                    <th>Beleid</th>
                    <th>Realisatie</th>
                    <th>Jaar</th>
            </tr>
        </tfoot>
    </table></section>
{% endblock %}

{% block viz %}


<section class="col-sm-6" id="chart">
<div id="chart">
<div class="col-lg-12 text-center">
<h3>Viz</h3><hr>
<form action="/demo" method="POST" name="VizForm">
    {{ vizform.hidden_tag() }}
    {{ vizform.stats.label }} {{vizform.stats}}
</div>
<svg></svg></div>
</form>
</section>


{% endblock %}

{% endblock %}