{% extends 'base.html' %}

{% block content %}
<section id="data">
    
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
                    <h2>Data</h2>
                    <hr>
                </div>
            <div class="col-sm-6">
                <h3>Ministeries</h3>
                <p><small>De data van de <a href="#ministeries">ministeries</a> zijn per ministerie zowel in ODS als xls bestanden te downloaden <a href="http://opendata.rijksbegroting.nl" target="_blank" class="alert-link">opendata.rijksbegroting.nl</a>. In subsidietrekker.nl zijn de subsidies opgenomen van de ministeries Binnenlandse Zaken en Koninkrijksrelaties, Buitenlandse Zaken, Buitenlandse Handel en Ontwikkelingssamenwerking, Defensie, Economische Zaken, Financiën, Infrastructuur en Milieu, Onderwijs Cultuur en Wetenschappen, Sociale Zaken en Werkgelegenheid, Veiligheid en Justitie en Volksgezondheid Welzijn en Sport over de jaren 2013 en 2014.</small></p>
            </div>
            <div class="col-sm-6">
                <h3>Provincies</h3>
                <p><small>Subsidiegegevens van <a href="#provincies">provincies</a> zijn in de meeste gevallen uit PDF-bestanden gehaald. De provincies Zeeland en Drenthe hebben geen subsidieregister. De provincies Zeeland en Drenthe hebben in 2013 de gegevens na een WoB verzoek verstrekt. Subsidieregisters van provincies zijn net als de subsidieregisters van gemeenten niet gestandaardiseerd, noch worden deze subsidieregisters gepubliceerd als open data.</small></p>
            </div>
        </div> <!-- /row -->

        <div class="row">
            <div class="col-sm-6">
                <h3>Gemeenten</h3>
                <p><small>Subsidiegegevens van <a href="#gemeenten">gemeenten</a> zijn afkomstig van gemeenten met een online subsidieregister. De meeste gemeenten hebben geen subsidieregister. Data is in de meeste gevallen uit de PDF-bestanden gehaald. Subsidieregisters van gemeenten zijn net als de subsidieregisters van provincies niet gestandaardiseerd, noch worden deze subsidieregisters door decentrale overheden gepubliceerd als open data.</small></p>
        </div>
            <div class="col-sm-6">
                <h3>Europese subsidies</h3>
                <p><small>Subsidiegegevens van <a href="#europees">Europese fondsen</a> die zijn verstrekt aan Nederlandse subsidieontvangers zijn verkregen via <a href="http://ec.europa.eu/budget/fts/index_en.htm" target="_blank">Financial Transparency System van de Europese Commissie</a>, Nederlandse uitvoerders als <a href="http://rvo.nl" target="_blank">Rijksdienst voor Ondernemend Nederland</a>, <a href="http://www.agentschapszw.nl/" target="_blank">Agentschap SZW</a> en bestuursautoriteiten en uitvoerders van Europees Fonds voor Regionale Ontwikkeling en Interreg.</small></p>
                     
                 

            </div>
        </div> <!-- /row -->

<div class="row">
<div class="col-sm-6">
<p>
      <a class="list-group-item" href="subcsv/sub2013.php"><i class="fa fa-code fa-fw"></i>&nbsp; Download data .csv 2013</a>
      <a class="list-group-item" href="subcsv/sub2013json.php"><i class="fa fa-download fa-fw"></i>&nbsp; Download data .json 2013</a>
</p>
</div>

<div class="col-sm-6">
<p>
  <a class="list-group-item" href="subcsv/sub2014.php"><i class="fa fa-code fa-fw"></i>&nbsp; Download data .csv 2014</a>
  <a class="list-group-item" href="subcsv/sub2014json.php"><i class="fa fa-download fa-fw"></i>&nbsp; Download data .json 2014</a>
</p></div></div></div></section>
{% endblock %}