{% extends 'tmp_base.html' %}

{% block content %}
<body>
<section id="data">

    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
                    <h2>Data</h2>
                    <hr>
                </div>
            <div class="col-sm-6">
                <h3>Ministeries</h3>
                <p><small>De data van de ministeries zijn per ministerie zowel in ODS als xls bestanden te downloaden <a href="http://opendata.rijksbegroting.nl" target="_blank" class="alert-link">opendata.rijksbegroting.nl</a>. In subsidietrekker.nl zijn de subsidies opgenomen van de ministeries Binnenlandse Zaken en Koninkrijksrelaties, Buitenlandse Zaken, Buitenlandse Handel en Ontwikkelingssamenwerking, Defensie, Economische Zaken, Financiën, Infrastructuur en Milieu, Onderwijs Cultuur en Wetenschappen, Sociale Zaken en Werkgelegenheid, Veiligheid en Justitie en Volksgezondheid Welzijn en Sport over de jaren 2013, 2014 en 2015.</small></p>
            </div>
            <div class="col-sm-6">
                <h3>Provincies</h3>
                <p><small>SSubsidiegegevens van provincies zijn in de meeste gevallen uit PDF-bestanden gehaald. De provincies Zeeland en Drenthe hebben geen subsidieregister. De provincies Zeeland en Drenthe hebben in 2013 de gegevens na een WoB verzoek verstrekt. Subsidieregisters van provincies zijn net als de subsidieregisters van gemeenten niet gestandaardiseerd, noch worden deze subsidieregisters gepubliceerd als open data.</small></p>
            </div>
        </div> <!-- /row -->

        <div class="row">
            <div class="col-sm-6">
                <h3>Gemeenten</h3>
                <p><small>De meeste gemeenten hebben geen subsidieregister. Subsidiegegevens van gemeenten zijn afkomstig van gemeenten met een online subsidieregister. Data is in de meeste gevallen uit de PDF-bestanden gehaald. Subsidieregisters van gemeenten zijn net als de subsidieregisters van provincies niet gestandaardiseerd, noch worden deze subsidieregisters door decentrale overheden gepubliceerd als open data.</small></p>
        </div>
            <div class="col-sm-6">
                <h3>Europese subsidies</h3>
                <p><small>Subsidiegegevens van <a href="#europees">Europese fondsen</a> die zijn verstrekt aan Nederlandse subsidieontvangers zijn verkregen via <a href="http://ec.europa.eu/budget/fts/index_en.htm" target="_blank">Financial Transparency System van de Europese Commissie</a>, Nederlandse uitvoerders als <a href="http://rvo.nl" target="_blank">Rijksdienst voor Ondernemend Nederland</a>, <a href="http://www.agentschapszw.nl/" target="_blank">Agentschap SZW</a> en bestuursautoriteiten en uitvoerders van Europees Fonds voor Regionale Ontwikkeling en Interreg.</small></p>



            </div>
        </div> <!-- /row -->

<div class="row">
<div class="col-xs-12">
<p class="text-center">
<a class="btn btn-default btn-xs" href="http://data.openstate.eu/dataset/95805b77-bc00-42e4-b505-e59c88f84708/resource/7a6ec831-ab64-461f-8430-de02b86cf833/download/data-subsidietrekker.csv.tar.gz" target="_blank">Downloaden</a>
</p>
</div>
</div> <!-- row -->
</div> <!-- container -->
</section>
</body>
{% endblock %}
