{% extends 'base.html' %}

{% block table %}
<!DOCTYPE html>
<html>
<head>
    <title>Subsidietrekker 2.0</title>

    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../_ajax_streamer"></script>
    <!-- DataTables -->
    <script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <!--<script type="text/javascript">-->
        <!--var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};-->
    <!--</script>-->
</head>
<body>
    <table id="subs_list" class="display">
        <thead>
                <tr>
                    <th>Overheid</th>
                    <th>Regeling</th>
                    <th>Ontvanger</th>
                    <th>Beleid</th>
                    <th>Realisatie</th>
                    <th>Jaar</th>
                </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <th>{{d.overheid}}</th>
                <th>{{d.regeling}}</th>
                <th>{{d.ontvanger}}</th>
                <th>{{d.beleid}}</th>
                <th>{{d.realisatie}}</th>
                <th>{{d.jaar}}</th>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                    <th>Overheid</th>
                    <th>Regeling</th>
                    <th>Ontvanger</th>
                    <th>Beleid</th>
                    <th>Realisatie</th>
                    <th>Jaar</th>
            </tr>
        </tfoot>
    </table>



    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="../static/js/datatables_test.js"></script>
</body>
</html>
{% endblock %}

