{% block table %}
    <table id="subs_list" class="display">
        <thead>
                <tr>
                    <th>Overheid</th>
                    <th>Regeling</th>
                    <th>Ontvanger</th>
                    <th>Beleid</th>
                    <th>Realisatie</th>
                    <th>Jaar</th>
                </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <th>{{d.overheid}}</th>
                <th>{{d.regeling}}</th>
                <th>{{d.ontvanger}}</th>
                <th>{{d.beleid}}</th>
                <th>{{d.realisatie}}</th>
                <th>{{d.jaar}}</th>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                    <th>Overheid</th>
                    <th>Regeling</th>
                    <th>Ontvanger</th>
                    <th>Beleid</th>
                    <th>Realisatie</th>
                    <th>Jaar</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
